---
import Layout from "../layouts/base.astro";
---

<Layout>
	<ul>
		<li>
			<a href="/gotop">Go top</a>
			<ul>
				<li>
					<a href="/gotop/style">Custom style</a>
				</li>
				<li>
					<a href="/gotop/offset">Custom offset</a>
				</li>
			</ul>
		</li>
	</ul>
</Layout>
